
<hgroup id="main-title" class="thin">
    <h1>首页</h1>
    <h2><strong></strong></h2>
</hgroup>

<div class="dashboard">

    <div class="columns">

        <div class="nine-columns twelve-columns-mobile" id="demo-chart">
            <!-- This div will hold the chart generated in the footer -->
        </div>

        <div class="three-columns twelve-columns-mobile new-row-mobile">
            <ul class="stats split-on-mobile">
                <li><a>
                    <strong>{{user_count}}</strong> 管理员
                </a></li>
                <li><a>
                    <strong>{{product_count}}</strong> 产品数
                </a></li>
                <li><a>
                    <strong>{{order_count}}</strong> 订单
                </a></li>
                <li><a>
                    <strong>{{customer_count}}</strong> 客户数
                </a></li>
            </ul>
        </div>

    </div>

</div>

<div class="with-padding">

    <div class="columns">

        <!-- <div class="four-columns six-columns-tablet twelve-columns-mobile">

            <h2 class="relative thin">
                New users
                <span class="info-spot">
                    <span class="icon-info-round"></span>
                    <span class="info-bubble">
                        This is an information bubble to help the user.
                    </span>
                </span>
                <span class="button-group absolute-right">
                    <a href="javascript:openModal()" title="Add user" class="button icon-plus-round">Add</a>
                    <a href="javascript:openLoadingModal()" title="Reload list" class="button icon-redo"></a>
                </span>
            </h2>

            <ul class="list spaced">

                <li>
                    <a href="#" class="list-link icon-user" title="Click to edit">
                        <span class="meter orange-gradient"></span>
                        <span class="meter orange-gradient"></span>
                        <span class="meter"></span>
                        <span class="meter"></span>

                        <strong>John</strong> Doe
                    </a>
                    <div class="button-group absolute-right compact show-on-parent-hover">
                        <a href="#" class="button icon-pencil">Edit</a>
                        <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                        <a href="#" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                    </div>
                </li>

                <li>
                    <a href="#" class="list-link icon-user" title="Click to edit">
                        <span class="meter red-gradient"></span>
                        <span class="meter"></span>
                        <span class="meter"></span>
                        <span class="meter"></span>

                        <strong>John</strong> Krazinski
                    </a>
                    <div class="button-group absolute-right compact show-on-parent-hover">
                        <a href="#" class="button icon-pencil">Edit</a>
                        <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                        <a href="#" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                    </div>
                </li>

                <li>
                    <a href="#" class="list-link icon-user" title="Click to edit">
                        <span class="meter blue-gradient"></span>
                        <span class="meter blue-gradient"></span>
                        <span class="meter blue-gradient"></span>
                        <span class="meter"></span>

                        <strong>John</strong>athan Bell
                    </a>
                    <div class="button-group absolute-right compact show-on-parent-hover">
                        <a href="#" class="button icon-pencil">Edit</a>
                        <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                        <a href="#" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                    </div>
                </li>

                <li>
                    <a href="#" class="list-link icon-user" title="Click to edit">
                        <span class="meter blue-gradient"></span>
                        <span class="meter blue-gradient"></span>
                        <span class="meter blue-gradient"></span>
                        <span class="meter"></span>

                        <strong>John</strong> Debogorsky
                    </a>
                    <div class="button-group absolute-right compact show-on-parent-hover">
                        <a href="#" class="button icon-pencil">Edit</a>
                        <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                        <a href="#" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                    </div>
                </li>

                <li>
                    <a href="#" class="list-link icon-user" title="Click to edit">
                        <span class="meter orange-gradient"></span>
                        <span class="meter orange-gradient"></span>
                        <span class="meter"></span>
                        <span class="meter"></span>

                        <strong>John</strong>ny Halliday
                    </a>
                    <div class="button-group absolute-right compact show-on-parent-hover">
                        <a href="#" class="button icon-pencil">Edit</a>
                        <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                        <a href="#" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                    </div>
                </li>

                <li>
                    <a href="#" class="list-link icon-user" title="Click to edit">
                        <span class="meter green-gradient"></span>
                        <span class="meter green-gradient"></span>
                        <span class="meter green-gradient"></span>
                        <span class="meter green-gradient"></span>

                        <strong>John</strong> Hutter
                    </a>
                    <div class="button-group absolute-right compact show-on-parent-hover">
                        <a href="#" class="button icon-pencil">Edit</a>
                        <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                        <a href="#" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                    </div>
                </li>

                <li>
                    <a href="#" class="list-link icon-user" title="Click to edit">
                        <span class="meter red-gradient"></span>
                        <span class="meter"></span>
                        <span class="meter"></span>
                        <span class="meter"></span>

                        <strong>John</strong> Zert
                    </a>
                    <div class="button-group absolute-right compact show-on-parent-hover">
                        <a href="#" class="button icon-pencil">Edit</a>
                        <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                        <a href="#" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                    </div>
                </li>

            </ul>

        </div> -->

        <div class="new-row-mobile four-columns six-columns-tablet twelve-columns-mobile">

            <div class="block large-margin-bottom">

                <div class="block-title">
                    <h3>产品</h3>
                    <span class="ribbon"><span class="ribbon-inner">{{product_list.length}} new</span></span>
                </div>

                <ul class="events">

                    <li ng-repeat ="row in product_list">
                        <span class="event-date orange">
                            <img ng-src="{{row.pic_path}}" class="framed" style="width: 80%;border-radius: 5px;">
                        </span>
                        <a class="event-description">
                            <h4>{{row.name}}</h4>
                            <p>规格：{{row.specification_h}}cm * {{row.specification_h}}cm</p>
                        </a>
                    </li>

                </ul>

            </div>

        </div>

        <div class="new-row-mobile four-columns six-columns-tablet twelve-columns-mobile">

            <div class="block large-margin-bottom">

                <div class="block-title">
                    <h3>订单</h3>
                    <span class="ribbon"><span class="ribbon-inner">{{order_list.length}} new</span></span>
                </div>

                <ul class="events">

                    <li ng-repeat ="row in order_list">
                        <span class="event-date orange">8</span>
                        <a href="#" class="event-description">
                            <h4>Event title</h4>
                            <p>Event description text</p>
                        </a>
                    </li>

                </ul>

            </div>

        </div>

        <div class="new-row-mobile four-columns six-columns-tablet twelve-columns-mobile">

            <div class="block large-margin-bottom">

                <div class="block-title">
                    <h3>客户</h3>
                    <span class="ribbon"><span class="ribbon-inner">{{customer_list.length}} new</span></span>
                </div>

                <ul class="events">

                    <li ng-repeat ="row in customer_list">
                        <span class="event-date orange">8</span>
                        <a href="#" class="event-description">
                            <h4>Event title</h4>
                            <p>Event description text</p>
                        </a>
                    </li>

                </ul>

            </div>

        </div>

        

    </div>

</div>