<!-- <div class="with-padding useradd_modal"  style="display: none;">
   <div id="modals" class="with-blocker">
        <div class="modal-blocker visible"></div>
        <div class="modal" style="left: 572px; top: 406px; opacity: 1; margin-top: 0px;">
            <div class="modal-bar">
                <ul class="modal-actions children-tooltip">
                    <li class="red-hover"><a href="#" title="Close">Close</a></li>
                </ul>
                <h3>Modal window</h3>
            </div>
            <div class="modal-bg">
                <div class="modal-content modal-scroll custom-scroll" style="min-width: 200px; min-height: 16px; position: relative; max-width: 1389px; max-height: 807px;">This is an example of standard modal window.
                    <div class="custom-vscrollbar" style="display: none; opacity: 0;">
                        <div></div>
                    </div>
                </div>
                <div class="modal-buttons align-right"><button type="button" class="button blue-gradient glossy big full-width">Close</button></div>
            </div>
        </div>
    </div>
</div> -->
<div class="with-padding useradd_modal" style="display: none;">
    <form name="myForm" ng-submit="submitForm(myForm.$valid)" class="form-horizontal" novalidate>
       <div class="twelve-columns twelve-columns-tablet">
            <fieldset class="fieldset fields-list">
                <div class="field-block button-height">
                    <label for="login" class="label"><b>账号</b></label>
                    <input type="text" value="" class="input" ng-model="usersinfo.name" required>
                </div>

                <div class="field-block button-height">
                    <label for="pass" class="label"><b>密码</b></label>
                    <input type="text"  value="" class="input" ng-model="usersinfo.password" required>
                </div>

                <div class="field-block button-height">
                    <label for="role" class="label"><b>角色</b></label>
                    <select class="select" ng-model="usersinfo.role_id" ng-options="v.id as v.name for v in roleList" required>
                        <option value="">请选择管理员角色</option>
                    </select>
                </div>

                <div class="field-block button-height">
                    
                    <button type="submit" class="button glossy mid-margin-right" ng-disabled="myForm.$invalid || btn_spinner_display" ng-click="user_info_add()">
                        <span class="button-icon"><span class="icon-tick"></span></span>
                        <span>新增</span>
                    </button>

                </div>

            </fieldset>

        </div>
    </form>
</div>


<hgroup id="main-title" class="thin">
    <h1>管理员列表</h1>
</hgroup>

<div class="with-padding">

    <div class="wrapped left-icon icon-info-round">
        Tables are responsive, too! Try resizing your browser
    </div>

    <!-- <h4>Styled table with simple sorting</h4>
    <p>Simple sorting and manual controls if you prefer to handle the table output server-side:</p>
    <p><b>Tip:</b> try clicking on a row to show an extra line style!</p> -->
    <br>
    <div class="twelve-columns twelve-columns-mobile qhp-margin-5">
<!--         <a href="#/users_list_add" class="button">
 -->        <a ng-click="useraddModal(null)" class="button">
            <span class="button-icon"><span class="icon-plus"></span></span>
            新增管理员
        </a>
        <img src="/library/assets/img/standard/loaders/loading32_anthracite.gif" ng-show="init_spinner_display" class="qhp-right">
    </div>

    <!-- <div class="table-header button-height qhp-button-height">
        <img src="/library/assets/img/standard/loaders/loading32_anthracite.gif" ng-show="init_spinner_display">
    </div> -->
    <table class="table responsive-table" id="sorting-example1">

        <thead>
            <tr>
                <th scope="col"><input type="checkbox" name="check-all" id="check-all" value="1"></th>
                <th scope="col">用户名</th>
                <th scope="col" width="30%" class="align-center hide-on-mobile">角色</th>
                <th scope="col" width="15%" class="align-center hide-on-mobile-portrait">操作</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <td colspan="4">
                    记录总数：{{totalItems}}
                </td>
            </tr>
        </tfoot>

        <tbody>
            <tr ng-repeat="row in list">
                <th scope="row" class="checkbox-cell"><input type="checkbox" name="checked[]" id="check-1" value="1"></th>
                <td scope="row">{{row.name}}</td>
                <td>{{row.role_name}}</td>
                <td class="align-center">
                    <span class="button-group compact">
                        <a href="#/users_list_role/{{row.id}}" class="button icon-user with-tooltip" title="修改角色"></a>
                        <a href="#/users_list_pass/{{row.id}}" class="button icon-lock with-tooltip" title="修改密码"></a>
                        <!-- <a href="#" class="button icon-gear with-tooltip" title="设置"></a> -->
                        <a  class="button icon-trash with-tooltip" title="删除账号" ng-click="usersRemoveModal(row)"></a>
                    </span>
                </td>
            </tr>

        </tbody>

    </table>

    <div class="table-footer button-height large-margin-bottom">
        <div class="float-right">
            <uib-pagination class="button-group" first-text="首页" last-text="末页" next-text="下页" previous-text="上页" boundary-links="true" boundary-link-numbers="true" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="5" ng-change="pageChanged()">
                
            </uib-pagination>
        </div>
        <div class="qhp-button-height"></div>
    </div>

    

</div>


<script src="/library/assets/js/qhp.js"></script>