<!DOCTYPE html>
<html class="no-js linen" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>后台管理系统</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- http://davidbcalhoun.com/2010/viewport-metatag -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- For all browsers -->
    <link rel="stylesheet" href="/library/assets/css/reset.css?v=1">
    <link rel="stylesheet" href="/library/assets/css/style.css?v=1">
    <link rel="stylesheet" href="/library/assets/css/colors.css?v=1">
    <link rel="stylesheet" media="print" href="/library/assets/css/print.css?v=1">
    <!-- For progressively larger displays -->
    <link rel="stylesheet" media="only all and (min-width: 480px)" href="/library/assets/css/480.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 768px)" href="/library/assets/css/768.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 992px)" href="/library/assets/css/992.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 1200px)" href="/library/assets/css/1200.css?v=1">
    <!-- For Retina displays -->
    <link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="/library/assets/css/2x.css?v=1">

    <!-- Additional styles -->
    <link rel="stylesheet" href="/library/assets/css/styles/form.css?v=1">
    <link rel="stylesheet" href="/library/assets/css/styles/switches.css?v=1">

    <!-- Login pages styles -->
    <link rel="stylesheet" media="screen" href="/library/assets/css/login.css?v=1">

    <!-- JavaScript at bottom except for Modernizr -->
    <script src="/library/assets/js/libs/modernizr.custom.js"></script>

    <!-- For Modern Browsers -->
    <link rel="shortcut icon" href="/library/assets/img/favicons/favicon.png">
    <!-- For everything else -->
    <link rel="shortcut icon" href="/library/assets/img/favicons/favicon.ico">
    <!-- For retina screens -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/library/assets/img/favicons/apple-touch-icon-retina.png">
    <!-- For iPad 1-->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/library/assets/img/favicons/apple-touch-icon-ipad.png">
    <!-- For iPhone 3G, iPod Touch and Android -->
    <link rel="apple-touch-icon-precomposed" href="/library/assets/img/favicons/apple-touch-icon.png">

    <!-- iOS web-app metas -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="/library/assets/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="/library/assets/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/library/assets/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!-- Microsoft clear type rendering -->
    <meta http-equiv="cleartype" content="on">

    <!-- IE9 Pinned Sites: http://msdn.microsoft.com/en-us/library/gg131029.aspx -->
    <meta name="application-name" content="Developr Admin Skin">
    <meta name="msapplication-tooltip" content="Cross-platform admin template.">
    <meta name="msapplication-starturl" content="">
    <!-- These custom tasks are examples, you need to edit them to show actual pages -->
    <meta name="msapplication-task" content="">
    <meta name="msapplication-task" content="">
    <style type="text/css">
        .login_input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: #fff !important;
        -webkit-transition-delay: 99999s; 
        -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
      };

    </style>
</head>

<body>

    <div id="container">

        <hgroup id="login-title" class="large-margin-bottom">
            <h1 class="login-title-image1" style="color: #f0fdfd;font-size: 24px">后台管理系统</h1>
            <h5>&copy; **公司</h5>
        </hgroup>

        <div id="form-wrapper" ng-app="loginApp" ng-controller="LoginCtrl">

            <div id="form-block" class="scratch-metal">
                <div id="form-viewport">

                    <form method="post" action="" id="form-login" class="input-wrapper blue-gradient glossy" title="Login">
                        <ul class="inputs black-input large">
                            <!-- The autocomplete="off" attributes is the only way to prevent webkit browsers from filling the inputs with yellow -->
                            <li><span class="icon-user mid-margin-right"></span><input type="text" ng-model="username" name="user" id="user" value="" class="input-unstyled login_input" placeholder="账号" autocomplete="off"></li>
                            <li><span class="icon-lock mid-margin-right"></span><input type="password" ng-model="password"  name="pass" id="pass" value="" class="input-unstyled login_input" placeholder="密码" autocomplete="off"></li>
                        </ul>

                        <p class="button-height" style="height: 30px">
                            <button type="button" class="button glossy float-right" id="login" ng-click="login()" ng-disabled="login_spinner_display">登录</button>
                            <!-- <input type="checkbox" name="remind" id="remind" value="1" checked="checked" class="switch tiny mid-margin-right with-tooltip" title="Enable auto-login"> -->
                            <!-- <label for="remind">Remind me</label> -->
                        </p>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Scripts -->
    <script src="/library/angular/angular.min.js"></script>
    <script src="/library/angular/angular-cookies.min.js"></script>
    <script src="/library/assets/js/libs/jquery-1.8.2.min.js"></script>
    <script src="/library/assets/js/setup.js"></script>

    <!-- Template functions -->
    <script src="/library/assets/js/developr.input.js"></script>
    <script src="/library/assets/js/developr.message.js"></script>
    <script src="/library/assets/js/developr.notify.js"></script>
    <script src="/library/assets/js/developr.tooltip.js"></script>

    <script>
    var app = angular.module('loginApp', ['ngCookies']);
    app.controller('LoginCtrl', function($scope, $cookieStore, LoginService, $window) {
        $scope.login = function() {
                var user = $.trim($scope.username),
                pass = $.trim($scope.password);

                // Check inputs
                if (user.length === 0)
                {
                    // Display message
                    displayError('请输入您的账号');
                    return false;
                }
                else if (pass.length === 0)
                {
                    // Remove empty login message if displayed
                    formWrapper.clearMessages('请输入您的账号');

                    // Display message
                    displayError('请输入您的密码');
                    return false;
                }
                else
                {
                    // Remove previous messages
                    formWrapper.clearMessages();

                    // Show progress
                    displayLoading('登录中，请稍后......');

                    // Stop normal behavior
                    event.preventDefault();
                    $scope.login_spinner_display = true;
                    LoginService.login($scope.username, $scope.password).success(function (data) {
                        if(data.ret == 0) {
                            $cookieStore.put("username", $scope.username);
                            $cookieStore.put("userid", data.userid);
                            $cookieStore.put("rolename", data.role_name);
                            
                            $window.localStorage["access"]=JSON.stringify(data.access);
                            window.location = "/admin/index.html";
                        } else {
                            $scope.login_spinner_display = false;
                            formWrapper.clearMessages();
                            displayError(data.msg);
                            return false;
                        }
                    }).error(function (error, status) {
                        $scope.login_spinner_display = false;
                        formWrapper.clearMessages();
                        displayError("登录失败(status:" + status + ")");
                        return false;
                    });
                }


            
        };


        $scope.search_keypress = function (event) {
            if(event.keyCode == 13) {
                $scope.login();
            }
        }


         var doc = $('html').addClass('js-login'),
                container = $('#container'),
                formWrapper = $('#form-wrapper'),
                formBlock = $('#form-block'),
                formViewport = $('#form-viewport'),
                forms = formViewport.children('form'),
                // Doors
                topDoor = $('<div id="top-door" class="form-door"><div></div></div>').appendTo(formViewport),
                botDoor = $('<div id="bot-door" class="form-door"><div></div></div>').appendTo(formViewport),
                doors = topDoor.add(botDoor),
                formSwitch = $('').appendTo(formBlock).children(),
                hash = (document.location.hash.length > 1) ? document.location.hash.substring(1) : false,
                // If layout is centered
                centered,
                // Store current form
                currentForm,
                // Animation interval
                animInt,
                // Work vars
                maxHeight = false,
                blocHeight;

            forms.each(function(i)
            {
                var form = $(this),
                    height = form.outerHeight(),
                    active = (hash === false && i === 0) || (hash === this.id),
                    color = this.className.match(/[a-z]+-gradient/) ? ' '+(/([a-z]+)-gradient/.exec(this.className)[1])+'-active' : '';

                // Store size
                form.data('height', height);

                // Min-height for mobile layout
                if (maxHeight === false || height > maxHeight)
                {
                    maxHeight = height;
                }

                // Button in the switch
                form.data('button', $('<a href="#'+this.id+'" class="button anthracite-gradient'+color+(active ? ' active' : '')+'">'+this.title+'</a>')
                                    .appendTo(formSwitch)
                                    .data('form', form));

                // Remove title to prevent tooltip from showing - thanks efreed :)
                this.title = '';
                // If active
                if (active)
                {
                    // Store
                    currentForm = form;
                    // Height of viewport
                    formViewport.height(height);
                }
                else
                {
                    // Hide for now
                    form.hide();
                }
            });

            // Main bloc height (without form height)
            blocHeight = formBlock.height()-currentForm.data('height');

            // Handle resizing (mostly for debugging)
            function handleLoginResize()
            {
                // Detect mode
                centered = (container.css('position') === 'absolute');

                // Set min-height for mobile layout
                if (!centered)
                {
                    formWrapper.css('min-height', (blocHeight+maxHeight+20)+'px');
                    container.css('margin-top', '');
                }
                else
                {
                    formWrapper.css('min-height', '');
                    if (parseInt(container.css('margin-top'), 10) === 0)
                    {
                        centerForm(currentForm, false);
                    }
                }
            };

            // Register and first call
            $(window).bind('normalized-resize', handleLoginResize);
            handleLoginResize();

            // Switch behavior
            formSwitch.on('click', 'a', function(event)
            {
                var link = $(this),
                    form = link.data('form'),
                    previousForm = currentForm;

                event.preventDefault();
                if (link.hasClass('active'))
                {
                    return;
                }

                // Refresh forms sizes
                forms.each(function(i)
                {
                    var form = $(this),
                        hidden = form.is(':hidden'),
                        height = form.show().outerHeight();

                    // Store size
                    form.data('height', height);

                    // If not active
                    if (hidden)
                    {
                        // Hide for now
                        form.hide();
                    }
                });

                // Clear messages
                formWrapper.clearMessages();

                // If an animation is already running
                if (animInt)
                {
                    clearTimeout(animInt);
                }
                formViewport.stop(true);

                // Update active button
                currentForm.data('button').removeClass('active');
                link.addClass('active');

                // Set as current
                currentForm = form;

                // if CSS transitions are available
                if (doc.hasClass('csstransitions'))
                {
                    // Close doors - step 1
                    doors.removeClass('door-closed').addClass('door-down');
                    animInt = setTimeout(function()
                    {
                        // Close doors, step 2
                        doors.addClass('door-closed');
                        animInt = setTimeout(function()
                        {
                            // Hide previous form
                            previousForm.hide();

                            // Show target form
                            form.show();

                            // Center layout
                            centerForm(form, true);

                            // Height of viewport
                            formViewport.animate({
                                height: form.data('height')+'px'
                            }, function()
                            {
                                // Open doors, step 1
                                doors.removeClass('door-closed');
                                animInt = setTimeout(function()
                                {
                                    // Open doors - step 2
                                    doors.removeClass('door-down');
                                }, 300);
                            });
                        }, 300);
                    }, 300);
                }
                else
                {
                    // Close doors
                    topDoor.animate({ top: '0%' }, 300);
                    botDoor.animate({ top: '50%' }, 300, function()
                    {
                        // Hide previous form
                        previousForm.hide();

                        // Show target form
                        form.show();

                        // Center layout
                        centerForm(form, true);

                        // Height of viewport
                        formViewport.animate({
                            height: form.data('height')+'px'
                        }, {

                            /* IE7 is a bit buggy, we must force redraw */
                            step: function(now, fx)
                            {
                                topDoor.hide().show();
                                botDoor.hide().show();
                                formSwitch.hide().show();
                            },

                            complete: function()
                            {
                                // Open doors
                                topDoor.animate({ top: '-50%' }, 300);
                                botDoor.animate({ top: '105%' }, 300);
                                formSwitch.hide().show();
                            }
                        });
                    });
                }
            });

            // Initial vertical adjust
            centerForm(currentForm, false);

            /*
             * Center function
             * @param jQuery form the form element whose height will be used
             * @param boolean animate whether or not to animate the position change
             * @param string|element|array any jQuery selector, DOM element or set of DOM elements which should be ignored
             * @return void
             */
            function centerForm(form, animate, ignore)
            {
                // If layout is centered
                if (centered)
                {
                    var siblings = formWrapper.siblings().not('.closing'),
                        finalSize = blocHeight+form.data('height');

                    // Ignored elements
                    if (ignore)
                    {
                        siblings = siblings.not(ignore);
                    }

                    // Get other elements height
                    siblings.each(function(i)
                    {
                        finalSize += $(this).outerHeight(true);
                    });

                    // Setup
                    container[animate ? 'animate' : 'css']({ marginTop: -Math.round(finalSize/2)+'px' });
                }
            };

            /**
             * Function to display error messages
             * @param string message the error to display
             */
            function displayError(message)
            {
                // Show message
                var message = formWrapper.message(message, {
                    append: false,
                    arrow: 'bottom',
                    classes: ['red-gradient'],
                    animate: false                  // We'll do animation later, we need to know the message height first
                });

                // Vertical centering (where we need the message height)
                centerForm(currentForm, true, 'fast');

                // Watch for closing and show with effect
                message.bind('endfade', function(event)
                {
                    // This will be called once the message has faded away and is removed
                    centerForm(currentForm, true, message.get(0));

                }).hide().slideDown('fast');
            };

            /**
             * Function to display loading messages
             * @param string message the message to display
             */
            function displayLoading(message)
            {
                // Show message
                var message = formWrapper.message('<strong>'+message+'</strong>', {
                    append: false,
                    arrow: 'bottom',
                    classes: ['blue-gradient', 'align-center'],
                    stripes: true,
                    darkStripes: false,
                    closable: false,
                    animate: false                  // We'll do animation later, we need to know the message height first
                });

                // Vertical centering (where we need the message height)
                centerForm(currentForm, true, 'fast');

                // Watch for closing and show with effect
                message.bind('endfade', function(event)
                {
                    // This will be called once the message has faded away and is removed
                    centerForm(currentForm, true, message.get(0));

                }).hide().slideDown('fast');
            };

    }).service('LoginService', ['$http', function ($http) {
        var login = function (username, password) {
            var url = '/api/users/login';
            var data = {username:username,password:password};
            return $http.post(url, data);
        };
        return {
            login: function (username, password) {
                return login(username, password);
            }
        };
    }])
</script>


</body>
</html>